/* General Page Styling */
.products-page {
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.3rem;

}
.FaPlus-icon{
  width: 1rem;
  height: 1rem;
  font-weight: 700;
}


.btn.edit-btn {
  background-color: #ffc107;
}

.btn.delete-btn {
  background-color: #f44336;
}

.btn.cancel-btn {
  background-color: gray;
}

/* Table Styling */
.products-list table {
  width: 100%;
  border-collapse: collapse;
}

.products-list th,
.products-list td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.products-list th {
  background-color: #f3f3f3;
}

/* Product Image Styling */
.product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

/*/* Modal Styling */
.modal {
  background-color: white;
  padding: 2rem;
  width: 400px;
  margin: auto;
  border-radius: 8px;
  position: relative;
  max-height: 80vh; /* Set max height for the modal */
  overflow-y: auto; /* Enable scrolling inside the modal */
  display: flex;
  flex-direction: column;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Allow overlay to scroll if modal height exceeds viewport */
}

.modal label {
  display: block;
  margin-bottom: 0.5rem;
}
.modal form .btn{
  align-self: center;
  
}
.modal form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.modal input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Image Preview */
.image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 1rem;
}

.image-preview h3 {
  font-size: 1rem;
  margin-top: 1rem;
}

/* Close Button Styling */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #f44336;
}
.Dashboard-filter-dropdown{
  min-width: 7rem;
  height: 2rem;
  background-color: transparent;
  border: none;
 font-size: 1rem;
 margin-left: 10px;
 display: flex;
 align-items: center;
 position: relative;
 /* left: 30px; */
 padding-right: 10px;
 background: url('data:image/svg+xml;utf8,<svg fill="gray" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right -7px center;
}