@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box !important;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
:root {
  --color-text: #767676;
  --text1: #7d8184;
  --main-color: #3c3c3c;
  --btn-hover: #5a5a5a;
  --box-shadow: -1px -1px 8px 6px rgb(189 189 189 / 28%);
}
.Product_list-items {
  box-shadow: var(--box-shadow);
  /* border: 0.1rem solid #ccc; */
  padding: 1.4rem;
  /* margin: 1rem; */
  width: 20rem;
  display: flex;
  flex-direction: column;
  /* background-color: #ffffff; */
  border-radius: 6px;
  /* text-align: center; */
  cursor: pointer;
  /* justify-content: center;
  align-items: center; */
}
/* .Product_list-items:hover{
    transform: scale(1.02);
    } */
  .Product_list-items-img {
    display: flex;
    justify-content: center;
    align-items: center;

    }
.Product_list-items-img img {
  max-width: 18rem;
  max-height: 13rem;
  /* max-width: 100%;
  height: auto; */
  transition: all 0.3s;
}
.Product_list-items-img img:hover {
  transform: scale(1.06);
}

.Product_list-items-text {
  font-size: 1.24rem;
  margin: 1rem 0;
}

.Product_list-items-text-price {
  font-size: 1.6rem;
}

/* .Product_list-items-rating {
        font-size: 1.4rem;
        color: #f4b400;
      } */

.Product_list-Add_cart {
  margin-top: 1rem;
}

.Product_list-Add_cart-text {
  background-color: var(--main-color);
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  width: 8rem;
  /* height: ; */
  border-radius: 6px;
}
.Product_list-Add_cart-text:hover {
  background-color: var(--btn-hover);
}
.Product_list-items-rating {
  font-size: 1.4rem;
  color: #f4b400;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  /* align-self: flex-end; */
}

.Product_list-items-rating span {
  font-size: 1.4rem;
}

.Product_list-items-rating span:last-child {
  color: #333;
  font-size: 1rem;
}

.active {
  width: 100%;
  height: 100%;
  position: relative;
}
.active::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
}
a {
  text-decoration: none;
  color: initial;
}
label {
  font-size: 0.8rem;
}
input[type="text"],
input[type="email"],
input[type="password"]
input[type="tel"] {
  background-color: #f5f5f5;
  border: 1px solid #d6d4d4;
  outline-color: #f5f5f5;
  padding-left: 0.4rem;
  padding-top: 0.2rem;
  padding-right: 0.4rem;
  padding-bottom: 0.2rem;
  width: 100%;
  height: 2.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Adjust the values as needed */
}

.logout-button{
  padding: 0.8rem 1.5rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.avatar-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  /* border: 1px solid rgb(86, 85, 85); */
}
.avatar-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 20px; */
  cursor: pointer; /* Allows clicking on avatar */
}



.default-avatar {
  color: var(--main-color);
  cursor: pointer; /* Allows clicking on avatar */
  width: 150px;
  height: 150px;
}
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; Full screen height for central alignment */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--main-color); /* Green color for the spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #555;
}

.small-spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--main-color); /* Green color */
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: white;
  animation: spin 1s linear infinite;
}


/* Status Color Styling */
.status-placed {
  color: #e67e22; /* Orange */
}

.status-processing {
  color: #f39c12; /* Yellow */
}

.status-shipped {
  color: #3498db; /* Blue */
}

.status-delivered {
  color: #2ecc71; /* Green */
}

.status-canceled {
  color: #e74c3c; /* Green */
}

.cancel-btn{
  border-color: #e74c3c;
  background-color: white;
  color: #e74c3c;
}
button:disabled {
  background-color: #cccccc; 
  color: #666666 ;            
  cursor: not-allowed;       
  opacity: 0.6;              
  border: 1px solid #b3b3b3 ; 
}